<div data-controller="ui" class="overflow-x-auto relative shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
    <tr>
      <th scope="col" class="py-3 px-6">
        <div class="flex items-center">
          Food
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
        </div>
      </th>
      <th scope="col" class="py-3 px-6">
        <div class="flex items-center">
          Quantity
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
        </div>
      </th>
      <th scope="col" class="py-3 px-6">
        <div class="flex items-center">
          Value
          <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="ml-1 w-3 h-3" aria-hidden="true" fill="currentColor" viewBox="0 0 320 512"><path d="M27.66 224h264.7c24.6 0 36.89-29.78 19.54-47.12l-132.3-136.8c-5.406-5.406-12.47-8.107-19.53-8.107c-7.055 0-14.09 2.701-19.45 8.107L8.119 176.9C-9.229 194.2 3.055 224 27.66 224zM292.3 288H27.66c-24.6 0-36.89 29.77-19.54 47.12l132.5 136.8C145.9 477.3 152.1 480 160 480c7.053 0 14.12-2.703 19.53-8.109l132.3-136.8C329.2 317.8 316.9 288 292.3 288z"/></svg></a>
        </div>
      </th>
      <th scope="col" class="py-3 px-6">
        <div class="flex items-center">
          Actions
        </div>
      </th>
    </tr>
    </thead>
    <tbody>
    <% @recipe_foods.each do |rf| %>
      <%= form_with model: rf, url: recipe_food_path(rf), method: :patch do |f| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
        <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= rf.food.name %>
        </th>
        <td class="py-4 px-6" id="normal-field-<%= rf.id %>">
          <%= rf.quantity %> <%= rf.food.measurement_unit %>
        </td>
        <td class="py-4 px-6 hidden" id="number-field-<%= rf.id %>">
          <%= f.number_field :quantity, { class: "border-none group-hover:bg-gray-100 outline-none focus:outline-none text-center w-20 flex items-center text-gray-700  outline-none", min: "0", max: "900" } %>
        </td>
        <td class="py-4 px-6">
          $ <%= rf.quantity * rf.food.price %>
        </td>
        <td class="py-4 px-6">
          <button data-ui-target="enableEditIngredient" data-index="<%= rf.id %>" id="edit-btn<%= rf.id %>" type="button" class="ml-2 text-sm font-medium text-orange-700 hover:text-orange-500 dark:text-gray-300 transition ease-in duration-100">
            Edit
          </button>
          <button type="submit" data-ui-target="updateIngredient" data-index="<%= rf.id %>" id="update-btn-<%= rf.id %>" type="button" class="hidden ml-2 text-sm font-medium text-orange-700 hover:text-orange-500 dark:text-gray-300 transition ease-in duration-100">
            Update
          </button>
        </td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
